# Nixpacks configuration - PHP 8.4
[phases.setup]
nixPkgs = [
    "(php84.withExtensions (pe: pe.enabled ++ []))",
    "nginx",
    "libmysqlclient",
    "php84Packages.composer",
    "nodejs_22",
    "python311Packages.supervisor",
]

[phases.build]
cmds = [
    "npm run build",
    "composer install --no-dev --optimize-autoloader",
    "php artisan optimize",
    "php artisan config:cache",
    "php artisan route:cache",
    "php artisan view:cache"
]

[start]
cmd = "/assets/start.sh"
